body {
    background: #c1bdba;
    font-family: 'Open Sans' !important;
    font-weight: 100;
}

.App {
    text-align: center;
    background: white;
}

#app {
    padding: 45px;
    padding-bottom: 50px;
    background-color: #fff;
    margin: 25px auto;
    height: 875px;
    width: 1550px;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.link:hover {
    color: #007dc3;
}

.box:hover {
    color: #007dc3;
}

.no_highlight {
    background-color: transparent
}

.highlight {
    background-color: #007dc34d
}
