
body {
    background-color: rgb(224, 223, 223)
}

#tile {
    padding: 45px;
    padding-bottom: 50px;
    background-color: #fff;
    margin: 25px auto;
    height: 875px;
    width: 1550px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.link:hover {
    color: #007dc3;
}

.box:hover {
    color: #007dc3;
}

.no_highlight {
    background-color: transparent
}

.highlight {
    background-color: #007dc34d
}
